#monthText {
  position: fixed;
  top: 25px;
  width: 100%;
  text-align: center;

  color: white;
  font-size: 26px;
  font-weight: bold;

  text-shadow: 0 0 10px rgba(0,0,0,0.8);

  z-index: 3;
}

#text {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);

  color: white;
  font-size: 28px;
  font-weight: bold;
  text-align: center;

  padding: 15px 25px;
  border-radius: 12px;

  background: rgba(0,0,0,0.5); /* 🔥 خلفية */
  backdrop-filter: blur(6px);  /* 🔥 blur */

  text-shadow: 0 0 15px rgba(0,0,0,0.9);

  opacity: 0;
  transition: opacity 1s;

  z-index: 3;
}